$GRAY_1: "#19191E";
$GRAY_2: "#323232";
$GRAY_3: "#646464";
$GRAY_4: "#969696";
$GRAY_5: "#BEBEBE";
$GRAY_6: "#D2D2D2";
$GRAY_7: "#EAEAEA";
$GRAY_8: "#F6F6F6";

$CARPET_RED_1: "#D7251B";
$CARPET_RED_2: "#EB392F";
$CARPET_RED_3: "#FF4D43";
$CARPET_RED_4: "#FF6157";
$CARPET_RED_5: "#FFABA6";
$CARPET_RED_6: "#FFE9E2";
$CARPET_RED_7: "#FFEEED";
$CARPET_RED_8: "#FFF8F7";
